In [6]:
import pandas as pd
from data import transform_data, preprocess_data
from utils import init_hydra
import json
import numpy as np
import pickle

In [5]:
df = pd.read_csv('data/samples/sample.csv')

In [45]:
df.shape

(181261, 11)

In [39]:
df.columns

Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date',
       'remaining_lease', 'resale_price'],
      dtype='object')

In [2]:
cfg = init_hydra()

In [41]:
first_row_df = df.iloc[[0]]
df = df.drop(df.index[0])

In [42]:
first_row_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2019-03,SEMBAWANG,3 ROOM,590B,MONTREAL LINK,16 TO 18,68.0,Model A,2015,95 years 01 month,292000.0

In [43]:
df.to_csv('data/samples/sample.csv', index=False)

In [50]:
first_row_df.drop(columns=[cfg.prepr_data.target_feature], inplace=True)

In [51]:
first_row_df.columns

Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date',
       'remaining_lease'],
      dtype='object')

In [52]:
X = transform_data(
                        df = first_row_df, 
                        cfg = cfg
                      )

In [53]:
X

,flat_type_1 ROOM,flat_type_2 ROOM,flat_type_3 ROOM,flat_type_4 ROOM,flat_type_5 ROOM,flat_type_EXECUTIVE,flat_type_MULTI-GENERATION,storey_range_01 TO 03,storey_range_04 TO 06,storey_range_07 TO 09,...,flat_model_Standard,flat_model_Terrace,flat_model_Type S1,flat_model_Type S2,floor_area_sqm,month,lease_commence_date,remaining_lease,latitude,longitude
181261,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-1.213397,-0.829283,1.352166,1.325572,1.4501,103.827074

In [59]:
for column in X.columns:
    if (X[column] == 1).any():
        print(column)

flat_type_3 ROOM
storey_range_16 TO 18
flat_model_Model A

In [61]:
example = X.iloc[0,:]

example = json.dumps( 
        { "inputs": example.to_dict() }
    )

In [62]:
example

'{"inputs": {"flat_type_1 ROOM": 0.0, "flat_type_2 ROOM": 0.0, "flat_type_3 ROOM": 1.0, "flat_type_4 ROOM": 0.0, "flat_type_5 ROOM": 0.0, "flat_type_EXECUTIVE": 0.0, "flat_type_MULTI-GENERATION": 0.0, "storey_range_01 TO 03": 0.0, "storey_range_04 TO 06": 0.0, "storey_range_07 TO 09": 0.0, "storey_range_10 TO 12": 0.0, "storey_range_13 TO 15": 0.0, "storey_range_16 TO 18": 1.0, "storey_range_19 TO 21": 0.0, "storey_range_22 TO 24": 0.0, "storey_range_25 TO 27": 0.0, "storey_range_28 TO 30": 0.0, "storey_range_31 TO 33": 0.0, "storey_range_34 TO 36": 0.0, "storey_range_37 TO 39": 0.0, "storey_range_40 TO 42": 0.0, "storey_range_43 TO 45": 0.0, "storey_range_46 TO 48": 0.0, "storey_range_49 TO 51": 0.0, "flat_model_2-room": 0.0, "flat_model_3Gen": 0.0, "flat_model_Adjoined flat": 0.0, "flat_model_Apartment": 0.0, "flat_model_DBSS": 0.0, "flat_model_Improved": 0.0, "flat_model_Improved-Maisonette": 0.0, "flat_model_Maisonette": 0.0, "flat_model_Model A": 1.0, "flat_model_Model A-Maisonette": 0.0, "flat_model_Model A2": 0.0, "flat_model_Multi Generation": 0.0, "flat_model_New Generation": 0.0, "flat_model_Premium Apartment": 0.0, "flat_model_Premium Apartment Loft": 0.0, "flat_model_Simplified": 0.0, "flat_model_Standard": 0.0, "flat_model_Terrace": 0.0, "flat_model_Type S1": 0.0, "flat_model_Type S2": 0.0, "floor_area_sqm": -1.2133968470616117, "month": -0.8292833206768812, "lease_commence_date": 1.352166015369763, "remaining_lease": 1.3255720188243645, "latitude": 1.4501003, "longitude": 103.8270738}}'

In [68]:
df['flat_model'].unique()

array(['Model A', 'Improved', 'New Generation', 'DBSS', 'Simplified',
       'Apartment', 'Standard', 'Premium Apartment', 'Maisonette',
       'Model A-Maisonette', 'Premium Apartment Loft',
       'Premium Maisonette', 'Type S1', 'Model A2', 'Type S2', '2-room',
       'Terrace', 'Adjoined flat', 'Improved-Maisonette',
       'Multi Generation', '3Gen'], dtype=object)

In [4]:
file_name = 'models/random_forest/random_forest_champion.pkl'
model = pickle.load(open(file_name, 'rb'))

In [7]:
X, y = preprocess_data(data=df, cfg=cfg)

In [12]:
model.predict(X)

array([633177.86858802, 556933.383114  , 465677.67762066, ...,
       565605.29430263, 490807.0348036 , 608193.10440043])

In [13]:
X = X.astype('float64')
X.columns

Index(['flat_type_1 ROOM', 'flat_type_2 ROOM', 'flat_type_3 ROOM',
       'flat_type_4 ROOM', 'flat_type_5 ROOM', 'flat_type_EXECUTIVE',
       'flat_type_MULTI-GENERATION', 'storey_range_01 TO 03',
       'storey_range_04 TO 06', 'storey_range_07 TO 09',
       'storey_range_10 TO 12', 'storey_range_13 TO 15',
       'storey_range_16 TO 18', 'storey_range_19 TO 21',
       'storey_range_22 TO 24', 'storey_range_25 TO 27',
       'storey_range_28 TO 30', 'storey_range_31 TO 33',
       'storey_range_34 TO 36', 'storey_range_37 TO 39',
       'storey_range_40 TO 42', 'storey_range_43 TO 45',
       'storey_range_46 TO 48', 'storey_range_49 TO 51', 'flat_model_2-room',
       'flat_model_3Gen', 'flat_model_Adjoined flat', 'flat_model_Apartment',
       'flat_model_DBSS', 'flat_model_Improved',
       'flat_model_Improved-Maisonette', 'flat_model_Maisonette',
       'flat_model_Model A', 'flat_model_Model A-Maisonette',
       'flat_model_Model A2', 'flat_model_Multi Generation',
       'flat_model_New Generation', 'flat_model_Premium Apartment',
       'flat_model_Premium Apartment Loft', 'flat_model_Simplified',
       'flat_model_Standard', 'flat_model_Terrace', 'flat_model_Type S1',
       'flat_model_Type S2', 'floor_area_sqm', 'month', 'lease_commence_date',
       'remaining_lease', 'latitude', 'longitude'],
      dtype='object')

In [15]:
c1 = ['flat_type_1 ROOM', 'flat_type_2 ROOM', 'flat_type_3 ROOM',
       'flat_type_4 ROOM', 'flat_type_5 ROOM', 'flat_type_EXECUTIVE',
       'flat_type_MULTI-GENERATION', 'storey_range_01 TO 03',
       'storey_range_04 TO 06', 'storey_range_07 TO 09',
       'storey_range_10 TO 12', 'storey_range_13 TO 15',
       'storey_range_16 TO 18', 'storey_range_19 TO 21',
       'storey_range_22 TO 24', 'storey_range_25 TO 27',
       'storey_range_28 TO 30', 'storey_range_31 TO 33',
       'storey_range_34 TO 36', 'storey_range_37 TO 39',
       'storey_range_40 TO 42', 'flat_model_2-room',
       'flat_model_Adjoined flat', 'flat_model_Apartment', 'flat_model_DBSS',
       'flat_model_Improved', 'flat_model_Maisonette', 'flat_model_Model A',
       'flat_model_Model A-Maisonette', 'flat_model_Model A2',
       'flat_model_Multi Generation', 'flat_model_New Generation',
       'flat_model_Premium Apartment', 'flat_model_Premium Apartment Loft',
       'flat_model_Simplified', 'flat_model_Standard', 'flat_model_Terrace',
       'flat_model_Type S1', 'floor_area_sqm', 'month', 'lease_commence_date',
       'remaining_lease', 'latitude', 'longitude', 'storey_range_43 TO 45',
       'storey_range_46 TO 48', 'storey_range_49 TO 51', 'flat_model_3Gen',
       'flat_model_Improved-Maisonette', 'flat_model_Type S2']
c2 = ['flat_type_1 ROOM', 'flat_type_2 ROOM', 'flat_type_3 ROOM',
       'flat_type_4 ROOM', 'flat_type_5 ROOM', 'flat_type_EXECUTIVE',
       'flat_type_MULTI-GENERATION', 'storey_range_01 TO 03',
       'storey_range_04 TO 06', 'storey_range_07 TO 09',
       'storey_range_10 TO 12', 'storey_range_13 TO 15',
       'storey_range_16 TO 18', 'storey_range_19 TO 21',
       'storey_range_22 TO 24', 'storey_range_25 TO 27',
       'storey_range_28 TO 30', 'storey_range_31 TO 33',
       'storey_range_34 TO 36', 'storey_range_37 TO 39',
       'storey_range_40 TO 42', 'storey_range_43 TO 45',
       'storey_range_46 TO 48', 'storey_range_49 TO 51', 'flat_model_2-room',
       'flat_model_3Gen', 'flat_model_Adjoined flat', 'flat_model_Apartment',
       'flat_model_DBSS', 'flat_model_Improved',
       'flat_model_Improved-Maisonette', 'flat_model_Maisonette',
       'flat_model_Model A', 'flat_model_Model A-Maisonette',
       'flat_model_Model A2', 'flat_model_Multi Generation',
       'flat_model_New Generation', 'flat_model_Premium Apartment',
       'flat_model_Premium Apartment Loft', 'flat_model_Simplified',
       'flat_model_Standard', 'flat_model_Terrace', 'flat_model_Type S1',
       'flat_model_Type S2', 'floor_area_sqm', 'month', 'lease_commence_date',
       'remaining_lease', 'latitude', 'longitude']

In [18]:
print(set(c2)-set(c1))

set()